@import "null.css";

.main {
	font-family: "Lato", sans-serif;
	color: #424551;
}
.main-title {
	font-size: 46px;
	line-height: 1.3;
	font-weight: 900;
	color: #1e212c;
}
.image {
}
.bold {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
}
.text {
	font-size: 16px;
	line-height: 1.6;
}
.list {
}
